<footer class="footer bg-body-tertiary py-3 mt-auto" data-bs-theme="dark">
    <div class="container text-center">
        <span class="text-muted">&copy; BaseCampX Copyrights Reserved 2024</span>
    </div>
</footer>